<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" type="bool" value="true" />
<!--argument-->
    <arg name="points_topic" default="/lidar/vlp32_middle/PointCloud2"/>
    <arg name="kf_odometry" default="/localization/ackermanekf"/>
    <arg name="map_tf" default="parkinglot_world" />
    <arg name="base_lidar_tf" default="velo_middle_localization" />
    <arg name="base_foot_tf" default="base_footprint"/>
<!--    <arg name="map_tf" default="map" />-->
<!--    <arg name="base_lidar_tf" default="velodyne" />-->
<!-- 
    //822
    acce_dece1.bag  8.6   -7.3  1.57
    acce_dece2.bag  15.6  -1.3   -2.91
    normal.bag      20    0.3   0
    sturn.bag       26.2    13.9  -1.3
    circle.bag      12.5  3.5   -1.8
    -->
<!--    <arg name="init_x" default="2.0" />-->
<!--    <arg name="init_y" default="1.2" />-->
<!--    <arg name="init_yaw" default="0.0" /> -->
    <!-- <arg name="init_x" default="31.8287" />
    <arg name="init_y" default="1.121" />
    <arg name="init_yaw" default="3.14" /> -->
    <arg name="init_x" default="26" />
    <arg name="init_y" default="0" />
    <arg name="init_yaw" default="3.14" />
    <arg name="lidar_height" default="1.85"/>
    <arg name="trim_low" default="-0.4" />
    <arg name="trim_high" default="0.77" />
    <arg name="radius" default="25.0" />
    <arg name="mapUpdateTime" default="1" />
    <!-- <arg name="global_map_pcd_path" default="/home/vickylzy/workspaceROS/MAP_BAG/XJTU_underground_parkinglot/pcd/XJTU_mid_under.pcd" /> -->
   <arg name="global_map_pcd_path" default="$(find prm_localization)/data/XJTU_mid_under.pcd" />
    <!--icp para-->
    <!--regis para-->
    <arg name="use_GPU_ICP" default="false"/>
    <arg name="downsample_resolution" default="0.15" />
    <arg name="TransformationEpsilon" default="0.01" />
    <!--ndt-->
    <arg name="ndt_resolution" default="1.0" />
    <!--icp-->
    <arg name="icpMaximumIterations" default="10" />
    <arg name="icpRANSACOutlierRejectionThreshold" default="0.12" />
    <!--filter-->
    <arg name="farPointThreshold" default="15" />
    <arg name="nearPointThreshold" default="1.3" />
    <arg name="manager_name" default="localization_manager"/>
    <!-- true代表激光定位算法输出INS系 -->
    <arg name="flag_slam_insout" default="true"/>
    <arg name="lp_odom_rate" default="0"/>
    <!--streeing_motion_node-->
    <node pkg="prm_localization" type="streeing_to_motion" name="streeing2motion"/>
<!--manager-->
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
<!--nodelet-->
<!-- same meaning param filed in two nodes must have same values-->
    <node pkg="nodelet" type="nodelet" name="rt_localization_nodelet" args="load prm_localization/RealTime_Localization $(arg manager_name)">
        <remap from="/kf_odometry" to="$(arg kf_odometry)"/>
        <remap from="/velodyne_points" to="$(arg points_topic)" />
        <param name="ndt_resolution" value="$(arg ndt_resolution)" />
        <param name="lidar_height" value="$(arg lidar_height)" />
        <param name="lp_odom_rate" value="$(arg lp_odom_rate)" />
        <param name="farPointThreshold" value="$(arg farPointThreshold)" />
        <param name="lidar_height" value="$(arg lidar_height)" />
        <param name="nearPointThreshold" value="$(arg nearPointThreshold)" />
        <param name="use_GPU_ICP" value="$(arg use_GPU_ICP)"/>
        <param name="trim_low" value="$(arg trim_low)" />
        <param name="trim_high" value="$(arg trim_high)" />
        <param name="init_x" value="$(arg init_x)" />
        <param name="init_y" value="$(arg init_y)" />
        <param name="init_yaw" value="$(arg init_yaw)" />
        <param name="icpMaximumIterations" value="$(arg icpMaximumIterations)" />
        <param name="icpRANSACOutlierRejectionThreshold" value="$(arg icpRANSACOutlierRejectionThreshold)" />
        <param name="TransformationEpsilon" value="$(arg TransformationEpsilon)" />
        <param name="map_tf" value="$(arg map_tf)" />
        <param name="base_lidar_tf" value="$(arg base_lidar_tf)" />
        <param name="base_foot_tf" value="$(arg base_foot_tf)" />
        <param name="downSampleSize" value="$(arg downsample_resolution)"  />
        <param name="flag_slam_insout" value="$(arg flag_slam_insout)"  />
    </node>
    <node pkg="nodelet" type="nodelet" name="globalmap_provider_nodelet" args="load prm_localization/GlobalmapProviderNodelet $(arg manager_name)">
        <param name="use_GPU_ICP" value="$(arg use_GPU_ICP)"/>
        <param name="lidar_height" value="$(arg lidar_height)" />
        <param name="trim_high" value="$(arg trim_high)" />
        <param name="trim_low" value="$(arg trim_low)" />
        <param name="downsample_resolution" value="$(arg downsample_resolution)" />
        <param name="map_tf" value="$(arg map_tf)" />
        <param name="base_lidar_tf" value="$(arg base_lidar_tf)" />
        <param name="init_x" value="$(arg init_x)" />
        <param name="init_y" value="$(arg init_y)" />
        <param name="init_yaw" value="$(arg init_yaw)" />
        <param name="radius" value="$(arg radius)" />
        <param name="mapUpdateTime" value="$(arg mapUpdateTime)" />
        <param name="global_map_pcd_path" value="$(arg global_map_pcd_path)" />
    </node>
<!--    shen's node-->
	<include file="$(find ekf)/launch/ekf.launch">
        <arg name="frame_id" value="$(arg map_tf)" />
        <arg name="child_frame_id" value="$(arg base_foot_tf)" />
        <arg name="flag_slam_insout" value="$(arg flag_slam_insout)" />
    </include>
<!--rviz-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find prm_localization)/rviz/result.rviz -f $(arg map_tf)" />

</launch>
<!--        output="screen"-->
